<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../js/vue.global.js"></script>
		<link rel="stylesheet" href="../style/bootstrap.min.css">
	</head>
	<body>
		<div id="app" class='container'>
			<table class='table table-bordered text-center'>
				<thead>
					<tr>
						<th v-for="title in title_list" :class="classTitle">{{title}}</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="stu in stu_list" :key="stu">
						<td>{{stu.stu_num}}</td>
						<td>{{stu.name}}</td>
						<td>{{stu.age}}</td>
						<td>{{stu.sex?'男':'女'}}</td>
					</tr>
					<tr>
						<td colspan="4">年龄总和：{{total}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<script>
			Vue.createApp({
				data() {
					return{
						classTitle:"text-center",
						title_list:['学号','姓名','年龄','性别'],
						stu_list:[
							{stu_num: 1810101,name: '丁一一',age: 19,sex: 1},
							{stu_num: 1810102,name: '王二二',age: 20,sex: 0},
							{stu_num: 1810103,name: '马三三',age: 20,sex: 1}
						],
						link:"<a href='1.demo.html'>demo1</a>",
						face:'../images/1.jpg'
					}
				},
				"computed":{
					total() {
						return this.stu_list.reduce((sum, number) => sum + number.age, 0);
					}
				}
			}).mount('#app')
		</script>
	</body>
</html>